.photo-album{
    display: flex;
    flex-wrap: wrap;
}
.photo-frame{
    width: 300px;
    height: 195px;
    border: 3px solid rebeccapurple;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    overflow: hidden;
}
.photo img{
    width: 100%;
    border-radius: 15px;
}
.photo-detail{
    display:none;
    position: absolute;
    width:300px;
    top:0;
}
.photo-detail h3 {
    background-color: rgb(215, 238, 13);
}
.photo-frame:hover .photo-detail{
    display: block;
    background-color: rgba(204, 157, 121, 0.65);
}
.photo-frame:hover .photo{
    transform:scale(2.0) skew(30deg);
    transition: transform 2s ease-in-out;
}
